[Unit]
Description=Zenoh Router
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=zenoh
Group=zenoh
Environment=ZENOHD_CONFIG=/etc/zenoh/zenohd.json5
ExecStart=/usr/bin/zenohd -c ${ZENOHD_CONFIG} --rest-http-port none
Restart=always
RestartSec=3

# Optional hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
